<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre o evento</h2>
                </div>
            </div>
            <div class="row container">
                <p>Confira mais um evento organizado pelo GDG Feira de Santana! Em breve traremos mais informações. Fiquem ligados e aproveitem o preço promocional de pré-inscrição antes do aumento.</p>
                <!-- <p>Topic; <a href="/2016">Link to 2016</a> 
                </p> -->

                <!-- <style>
                .video {
                position:relative;
                padding-bottom: 56.25%;
                height:0;
                overflow:hidden;
                align: middle;
                }
                .video iframe, .video object, .video embed {
                position: absolute;
                margin: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                }
                </style>

                <div class="video"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fvideos%2F10153231379946729%2F&width=500&show_text=false&appId=269289086810957&height=280" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div><br> -->

                 <center><a href="https://www.sympla.com.br/python-for-all-2019__491237" target="_blank" class="page-scroll btn btn-xl">Inscrições</a></center>
                 <br>
                 <center><a target="_blank" href="https://forms.gle/XXDREtHbXwtq9st5A" class="page-scroll btn btn-xl">Chamada de palestras</a></center>
            </div>
        </div>
    </section>